.is-show-action {
  .layout-content {
    margin-bottom: 0;
  }
}

.country {
  float: left;
  margin: 0 0 -1px -1px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #999;

  a {
    position: relative;
    display: block;
    width: 199px;
    height: 230px;
    padding: 20px;
    border: 1px solid #E5E5E5;
    background: #fff;

    &:hover {
      z-index: 1000;
      margin: -10px;
      padding: 30px;
      @include box-shadow(0 0 5px rgba(#000, .1));

      .country_main,
      .country_alt {
        fill: $cGreen;
      }

      .country-content {
        position: absolute;
        top: 200px; left: 30px; right: 30px;
      }

      svg {
        top: 30px;
      }
    }
  }

  .country-content {
    position: absolute;
    top: 190px; left: 20px;
    right: 20px;

    span {
      display: block;
      color: #999;
      font-size: 15px;
      line-height: 1.1;
    }
  }

  h3 {
    display: block;
    margin-bottom: 5px;
    font-size: 29px;
    line-height: 1.1;
    @extend .serif;
    color: #666;

    &.small {
      font-size: 19px;
    }
  }

  strong {
    font-weight: bold;
  }

  svg {
    position: absolute;
    top: 20px; left: 50%;
    margin-left: -75px;
  }
}

@media only screen and (max-width: 768px) {
  .countries_block .header-title {
    font-family: "fira_sans_otlight", "Helvetica Neue", "Trebuchet MS", sans-serif;
  }

  .country {
    a {
      padding: 28px;
      &:hover {
        padding: 28px;
        margin: 0;
        z-index: 1;
      }
    }
    .country-content, svg {
      float: left;
      display: inline-block;
      h3 {
        font-family: "fira_sans_otregular", "Helvetica Neue", "Trebuchet MS", sans-serif;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .country {
    a {
      padding: 6px;
      &:hover {
        padding: 6px;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .countries_block {
    height: 80px;
    padding: 10px;
    background: transparent;
    box-sizing: border-box;
    margin: 0;
    .header-title {
      text-align: left;
      line-height: 30px;
      font-size: 20px;
      color: #333;
    }
  }
  .countries_list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    .country {
      a {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 80px;
        &:hover {
          svg {
            top: 0;
          }
          .country-content {
            top: 0;
            left: 20px;
            right: 0;
          }
        }
        .country-content, svg {
          top: 0;
          margin-left: 0;
          right: 0;
          padding: 7px;
          display: table;
          max-width: 60%;
          height: 100%;
          path {
            transform: scale(0.4);
            -webkit-transform: scale(0.4);
          }
          h3 {
            font-size: 20px;
            text-align: left;
            position: relative;
            left: -18px;
            color: #333;
            display: table-cell;
            vertical-align: middle;
            height: 100%;
          }
        }
        svg {
          left: 70%;
          width: 115px;
        }
      }
    }
  }
}
